name: CI Pipeline

on:
  pull_request:
    branches: ["develop"]
  push:
    branches: ["develop"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Run migrations (only if Django manage.py exists)
        run: |
          if [ -f manage.py ]; then python manage.py migrate; else echo "No manage.py, skipping migrations"; fi

      - name: Build Docker image
        if: github.event_name == 'push'
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/my-ci-project:${{ github.sha }} .
          docker tag ${{ secrets.DOCKER_USERNAME }}/my-ci-project:${{ github.sha }} ${{ secrets.DOCKER_USERNAME }}/my-ci-project:latest

      - name: Login DockerHub
        if: github.event_name == 'push'
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Push Docker image
        if: github.event_name == 'push'
        run: |
          docker push ${{ secrets.DOCKER_USERNAME }}/my-ci-project:${{ github.sha }}
          docker push ${{ secrets.DOCKER_USERNAME }}/my-ci-project:latest
